@icon-font-path: "../../bower_components/bootstrap/fonts/";
@import "../../bower_components/bootstrap/less/bootstrap.less";
// bower:less
// endbower

@import "bootswatch.less";

/* Space out content a bit */
body {
  padding-top: 85px;
  padding-bottom: 0px;

}

div.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: @gray-darker;
  p {
    color: @gray-lighter;
    line-height: 40px;
    margin-bottom: 0px;
    a{
      color: @brand-success;
    }
  }
}

.login-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: @gray-light;
}

.login-well {
  margin-top: 100px;
}

.seawall {
  font-weight: bolder;
  text-transform: uppercase;
  color: @brand-primary;
}

.notification {
  width: 5px;
  height: 5px;
  position: absolute;
  background-color: @brand-danger;
  border-radius: 5px;
  display: inline-block;

}

.img-profile {
  width: 30px;
  margin-right: 15px;
}

.sidebar {
  height: 100%;
}